li {
  padding: 5px;
  margin: 5px;
  background: #faebd7;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
}

body {
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#burgerTable {
  display: flex;
  justify-content: center;
}

.toBeDevoured {
  flex-direction: column;
  margin-right: 20px;
} 

.hasBeenDevoured {
  flex-direction: column;
  margin-left: 20px;
}
